<div style="text-align: center;">
    <h1>*Calculator*</h1>
    <br>
    <form action='result'>
        <label></label>
        <input id="firstnumber" name="firstnumber">
        
        <select name="select">
            <option value="+", >+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>

        <input id="secondnumber" name="secondnumber">
        
        <input type="submit" value="submit">
    </form>
</div>